extends layout
block content
    div.container
        div(class="page-header text-center")
            h1
                span(class="fa fa-anchor") Profiles
            a(href="/logout" class="btn btn-default btn-sm") Logout
        div(class="row")
            div(class="col-md-6 col-xs-6")
                div(class="well")
                    h3
                        span(class="fa fa-user") Local
                
                    p
                        strong id : #{user._id}
                        br
                        strong email : #{user.local.email}
                        br
                        strong pwd : #{user.local.pwd}